.footer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5vw;
    padding-left: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-basis: 33.33%;
    text-align: left;
}

.footer h1 {
    margin: 0;
    color: black;
    padding-bottom: 8%;
}

.footer p {
    margin: 0;
    color: black;
    padding-bottom: 5%;
}

.footer a {
    text-decoration: none;
    color: black;
}

.img img{
    height: 20vh;
}

.img {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcol {
    padding-left: 5vw;
}

.menu {
    padding-left: 10vw;
}

.fot_intro {
    text-align: justify;
}

.menu a:hover {
    color: #cc7a00;
}

/* body {
    background: url(../1.png) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
} */